.dash{
	background-color: #eeeeee;
	height: 100vh;
}
.navbar-header{
 
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 0!important;
    font-size: 18px;
    line-height: 20px;
}
.navbar-brand img{
	width: 165px;
}

 .icon-menu{

 }

.icon-menu img{
	width: 1.3em!important;
}
.separacion{
	border-right: 1px solid rgb(48, 239, 223);
}

.row-post{
	
	margin-top: 5em;

}
.espacio-post{
    padding-top: 2em;
}

.post-div{
	border:2px dashed #BDBDBD;
	padding: 3em;
	height: 80vh;
	align-items: center;
	float: left!important;
	
}
.content-post{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    font-family: Brandon-medium;

}
.content-post h3{
  font-size: 25px;
  color: #9E9E9E;
}
.content-post img{
  justify-content: center!important;
}



.form-control {

	width: 9em;
}

.profile-img{
    margin-top: -5px;
    margin-right: 5px;
    float: left;
    background: url(../../Assets/Iconos/fb2.png) 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-size: auto 100%; /* Interchange this value depending on prefering width vs. height */
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

.user-link{
	padding-right: 2em;
}
.btn-green:hover{
	background-color:rgb(48, 239, 223)!important;
	border-color: transparent!important;
	
}


@media screen and (max-width: 1920px){
    .postainer{
    padding-right: 1em!important;
    padding-left: 1em!important;
    margin-right: auto;
    margin-left: auto;
    width: 1800px!important;

}
.post-div{
    height: 55em!important;
    width: 27em;   
}

.agregar{
    margin-top: 5em!important;
    padding-bottom: 10em;
   

}

}
@media screen and (max-width: 1366px){
    .postainer{
    padding-right: 1em!important;
    padding-left: 1em!important;
    margin-right: auto;
    margin-left: auto;
    width: 1300px!important;

}
.post-div{
    height: 44em!important; 
    width: 22.5em;   
}
.agregar{
    margin-top: 0em!important;
    padding-bottom: 10em;
   	

}
}