body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}

@font-face{
	font-family:Brandon-light;
	src:url(Assets/Fonts/Brandon_light.otf);
}
@font-face{
	font-family:Brandon-medium;
	src:url(Assets/Fonts/Brandon_med.otf);
}
@font-face{
	font-family: Brandon-it ;
	src:url(Assets/Fonts/Brandon_light_it.otf);
}