body {
 background-color: white;
}


/*LOGIN PARTE DE LOGUEO*/

.contenedor{
  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login{
	 background: url('../../Assets/img/Login.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat; 
	 height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.login-container{
	
   margin-left: 25em;
   margin-right: 25em;
   align-items: center;
   display: flex;
   justify-content: center;
   width: 100%; 
}



.starter-template {
  padding-top: 150px;
  padding: 40px 15px;
  text-align: center;
}

.login-menu{
	background: white;
	padding-top: 10px!important;
	padding-bottom: 10px;
  border-radius: 2px;
  box-shadow: 0 0 5px #E0E0E0;
  
}
.contenido-login{
	padding-top: 50px!important;
  margin-left: 30px!important;
  margin-right: 30px!important;
  text-align: center;

}
.contenido-login h1{
	font-size: 30px;
  font-family:Franlink-ligth;
  font-weight: 300;
  color: #212121!important;

}
.contenido-login p{
	font-size: 12px;
  font-family:Franlink-regular;
  color: #757575!important;
}

.logo2 {
  width: 30%;
}

.boton-image{
  border-radius: 0px!important;
  background-color: #2979FF;
  border-color: #2979FF;
  color: white;
  font-family: Brandon-medium;
  font-weight: 100;
}

.boton-image:hover{ 
filter: brightness(110%);
transition-duration: 0.5s;
}


.boton-image:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}

.monBouton:before{
     background-image : url(https://ballotpedia.s3.amazonaws.com/images/thumb/5/53/Google_%22G%22_Logo.svg/150px-Google_%22G%22_Logo.svg.png);
     background-size: 100%;
     color: white!important;
}

.text-botonimage{
  color: white!important;
  text-decoration: none!important;
}


.marca p{
  margin-top: 80px;
  color: #BDBDBD!important;
}

.url-marca{
  color: #B388FF;
  text-decoration: none;
}
.url-marca:hover{
  color: #B388FF;
  text-decoration: none;
}


/*LOGIN PARTE TEXTO DE BIENVENIDA*/
.login-texto{
  top:26px; 
  background: rgb(161, 123, 252);
  padding-top: 80px;
  padding-bottom: 100px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: left;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.login-texto h1{
  font-size: 30px;
  font-family:Franlink-medium;
  font-weight: 300;
  color: white;
}

.login-texto p{
  font-size: 14px;
  font-family:Franlink-regular;
  color: white!important;
  opacity: .6;
}

@media screen and (max-width: 1920px){
  .login-container{
  
   margin-left: 30em;
   margin-right: 30em;
   align-items: center;
   display: flex;
   justify-content: center; 

}
  .login-texto{
  top:4px; 
  
  padding-top: 80px;
  padding-bottom: 100px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: left;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

}


@media screen and (max-width: 1280px) and (min-height: 660px){
  .login-container{
  
   margin-left: 15em;
   margin-right: 15em;
   align-items: center;
   display: flex;
   justify-content: center; 
}

.login-texto{
  top:-10px; 
  
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 60px;
  padding-right: 60px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

  
}

@media screen and (max-width: 1366px) and (min-height: 670px) {
.login-container{
  

   align-items: center;
   display: flex;
   justify-content: center; 
}

.login-texto{
  top:4px; 
 
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 60px;
  padding-right: 60px;
  text-align: left;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}


}


@media (max-width: 1366px) and (min-height: 768px){
.login-container{
 
   margin-left: 15em;
   margin-right: 15em;
   align-items: center;
   display: flex;
   justify-content: center; 
}

.login-texto{
  top:4px; 

  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 60px;
  padding-right: 60px;
  text-align: left;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
}