body {
 background-color: white;
}


/*LOGIN PARTE DE LOGUEO*/
.login{
	 background: url('../../Assets/img/Login.jpg'); 
	 height: 100vh;
}
.login-container{
	margin-top: 100px!important;
   margin-left: 100px;
   margin-right: 100px;
}

.starter-template {
  padding-top: 150px;
  padding: 40px 15px;
  text-align: center;
}

.login-menu{
	background: white;
	padding-top: 10px!important;
	padding-bottom: 10px;
  border-radius: 2px;
  box-shadow: 0 0 5px #E0E0E0;
  
}
.contenido-login{
	padding-top: 50px!important;
  margin-left: 30px!important;
  margin-right: 30px!important;

}
.contenido-login h1{
	font-size: 30px;
  font-family:Brandon-light;
  font-weight: 300;
  color: #212121!important;

}
.contenido-login p{
	font-size: 12px;
  font-family:Brandon-light;
  color: #757575!important;
}

.boton-image{
  border-radius: 0px!important;
  background-color: #2979FF;
  border-color: #2979FF;
}

.boton-image:hover{ 
  background-color:#2979FF;
  border-color: transparent;
}


.boton-image:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}

.monBouton:before{
     background-image : url(https://ballotpedia.s3.amazonaws.com/images/thumb/5/53/Google_%22G%22_Logo.svg/150px-Google_%22G%22_Logo.svg.png);
     background-size: 100%;
}


.marca p{
  margin-top: 80px;
  color: #E0E0E0!important;
}

.url-marca{
  color: #B388FF;
}


/*LOGIN PARTE TEXTO DE BIENVENIDA*/
.login-texto{
  top:26px; 
  background: #B388FF;
  padding-top: 80px;
  padding-bottom: 100px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: left;

}

.login-texto h1{
  font-size: 30px;
  font-family:Brandon-light;
  font-weight: 300;
  color: white;
}

.login-texto p{
  font-size: 12px;
  font-family:Brandon-light;
  color: white!important;
  opacity: .6;
}