.dash{
	background-color: #EEEEEE;
	height: 100vh;
}
.navbar-header{
 
}
.adddash {
	transition : filter 500ms linear
}
.adddash:hover {
  filter: brightness(150%);
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 0!important;
    font-size: 18px;
    line-height: 20px;
}
.navbar-brand img{
	width: 165px;
}

.agregar-dash{
	margin-top:20em!important;
}

.state-div img{
	width: 15em;
	margin-bottom: 20px;
}

.state-div{
	padding-left: 24.2em;
	padding-right: 24.2em;
}

.state-div h2{
	color:#6B65F7;
	font-weight: bold;
	font-family:Brandon-medium;
	font-size: 26px;
	text-transform: uppercase;
	opacity: .4;

}

.state-div p{
	font-size: 17px;
	color:#8080FF;
	opacity: .7;
	font-family:Brandon-light;
	margin-bottom: 20px;
}

.btn-green{
	background-color:rgb(48, 239, 223);
	border-radius: 0px;
	border-color: transparent;
	font-family:Brandon-medium;
	padding-left: 2em;
	padding-right: 2em;
	font-size: 20px;
}
.btn-green:hover{
	background-color:rgb(48, 239, 223)!important;
	border-color: transparent!important;
	
}
 .icon-menu{

 }

.icon-menu img{
	width: 1.3em!important;
}
.separacion{
	border-right: 1px solid rgb(48, 239, 223);
}

.profile-img{
    margin-top: -5px;
    margin-right: 5px;
    float: left;
    background: url(../../Assets/Iconos/fb2.png) 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-size: auto 100%; /* Interchange this value depending on prefering width vs. height */
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

.user-link{
	padding-right: 2em;
}

.dropdown{
	font-family: Brandon-medium;

}

.dropdown li{
	font-family: Brandon-light;
}


/*LOADING*/
.icon-loading svg{
	width: 15%!important; 
}

@media screen and (max-width: 1920px){
 .state-div{
	padding-left: 40em;
	padding-right: 40em;
}

}
@media screen and (max-width: 1366px){
	.state-div{
	padding-left: 24.2em;
	padding-right: 24.2em;
}
}