.menuicon{
	transition: all .2s ease-in-out;
}
.menuicon:hover{
	transform: scale(1.3);
}

.state-url{

}

.state-url{
  position: static !important;
}
.state-url-large {
  margin-right: 2em;
  padding:15px;

}

.info-url{
	margin-left: 0em;
	margin-right: 0em;
	line-height: 0.9em;
	text-decoration: none;
}
.info-url input{
	width: 20em;
	margin-top: -1em;
	text-align: center;
	background: transparent;
	border-color: #27232324;
	line-height: 1em;
	
}
.info-url p{
	
	text-decoration: none;
}
.info-url a{
	
	text-decoration: none;
}

#dashstate{
	color: black;
	cursor: context-menu;
}



#customdiv{
	display: none;
}

.header-url {
	background: rgb(238, 230, 255);
	padding: 0.8em;
	text-align: left;
 	font-family: Franlink-medium!important;
 	font-weight: bolder;
 	display: flex;
 	align-items: center;
}

.menu-url{
	padding: 0!important;
	margin-right: 2em;
	-webkit-box-shadow: 0 0 0 0 transparent!important;
	border:1px solid #fafafa!important; 
}

.header-url p{
	margin:0!important;
}

.content-url p{
	font-family: Franlink-regular;
	font-size: 12px;
	font-weight: 500;
	text-align: left;
}
.content-url{
	padding: 1em;
}
.btn-url{
	background: rgb(181, 65, 253);
	color: white;
	font-family: Franlink-regular;
	padding:3px 12px!important;
	border-radius: 0;
}
.btn-url:hover{
	color: white;
	filter:brightness(110%);
	transition-duration: 0.7s;

}