.menuicon{
	transition: all .2s ease-in-out;
}
.menuicon:hover{
	transform: scale(1.3);
}

.state-url{

}

.state-url{
  position: static !important;
}
.state-url-large {
  margin-right: 2em;
  padding:15px;

}

.info-url{
	margin-left: 0em;
	margin-right: 0em;
	line-height: 0.9em;
	text-decoration: none;
}
.info-url input{
	width: 30em;
	margin-top: -1em;
	text-align: center;
	background: transparent;
	border-color: transparent;
	line-height: 1em;
	border-bottom: 1px solid #B187FF;
}
.info-url p{
	font-family: Brandon-medium;
	text-decoration: none;
}
.info-url a{
	
	text-decoration: none;
}

#dashstate{
	color: black;
	cursor: context-menu;
}



