
/*INDEX COMPLETO*/
.dash{
	background-color: #eeeeee;
	height: 100%!important;
}
.navbar-header{
 
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 0!important;
    font-size: 18px;
    line-height: 20px;
}
.navbar-brand img{
	width: 165px;
}

 .icon-menu{

 }

.icon-menu img{
	width: 1.3em!important;
}





.profile-img{
    margin-top: -5px;
    margin-right: 5px;
    float: left;
    background: url(../../Assets/Iconos/fb2.png) 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-size: auto 100%; /* Interchange this value depending on prefering width vs. height */
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

.user-link{
	padding-right: 2em;
}
.btn-green:hover{
	background-color:rgb(48, 239, 223)!important;
	border-color: transparent!important;
	
}



.postainer1{

    height: 100vh;
    display: flex;
    margin-right: auto;
    margin-left: auto; 
    padding-right: 1em!important;
    padding-left: 1em!important;
    width: 100%!important;
}
.postainer-cards{
    padding-right: 1em!important;
    padding-left: 1em!important;
    margin-right: auto;
    margin-left: auto;
    width: 100%!important;
    margin-top: 5em;
}
.mis-post > .row{
  width: 100%!important;
  margin-left: 0em;
  margin-top: 5em!important;
}

.postainer1 .inside-post{
    overflow-x: scroll;
    padding-top: 85px;
    padding-bottom: 10px;
}

.social-cpanel{
    padding-top: 4em;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-cpanel a{
    color: rgb(188, 84, 253);
    font-family: Franlink-medium;
    text-decoration: none;
}

/*************
POST - CARDS nuevo diseño
**************/

.card-post{
    background: white!important;
    padding: 0!important;
    border-radius: 20px;
    

}

.card-post img{
   object-fit: cover;
   width: 100%;
   height: 15em;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}

.card-post video{
    width: 100%;
    height: auto!important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-post span p{
    font-family: 'Franlink-regular';
    font-size: 9px!important;
    text-align: left!important;
    color: rgb(194,194,194);
}

.post-name{
    font-family: 'Franlink-bold'!important;
    font-size: 16px!important;
    text-align: left;
    line-height: 5px;
}

.post-description{
    font-family: 'Franlink-regular'!important;
    font-size: 13px!important;
    text-align: left;
    color: rgb(168,168,168);
    
}
.reaction-post{
    display: flex;
    flex-direction: row;
}

.comen{
    position: relative;
    float: right!important;
}
.reaction-post .btn{
    display: flex;
    padding:0px 5px!important;
    font-size: 10px!important;
    font-family: 'Franlink-medium';
    flex-direction: column;
}
.coment-icon .btn{
    display: flex;
    padding:0px 5px!important;
    font-size: 10px!important;
    font-family: 'Franlink-medium';
    flex-direction: column;
}
.coment-icon >.btn >img{
    width: 23px;
}

.reaction-post >.btn >img{
    width: 23px;
}
.cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
}
/*************
POST - COLUMNS nuevo diseño
**************/
.inside-post{
    display: -webkit-box;
    flex-wrap: wrap;
    white-space: wrap;
    width: 100%;
    }
::-webkit-scrollbar:horizontal {
        width:5em!important;
    }
.inside-post > .col-md-3 {
     display: block;
      float: none;
     height: 100%;
      width:400px;
   }

   .add-column{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    outline: 2px dashed #BDBDBD;
    box-shadow: 0 0 0 transparent!important;
   }

   .add-column p {
    font-family: 'Franlink-regular';
    font-size: 1vw;
    font-weight: bolder;
    color: rgb(203, 203, 203);
   }
   .header-column{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
   }
   .profile{
    height: auto!important;
   }

   .header-column .profile{
    width: 10%;
    height: 10%;
    object-fit: cover;
    vertical-align: middle;
   }
    .profile-social{
        vertical-align: middle;
    }

    .header-column img{
        width: 5%;
    }
    .header-column h2{
        font-family: 'Franlink-bold';
        font-size: 15px;
    }
    .line{
        height: 2px;
        outline: 1px solid red;
        width: 100%;
    }

    .icon{
        
    }
/*post de columnas*/
.card-column{
    border-radius: 0!important;
    padding-bottom: 2em;
    border-bottom: 1px solid #eeeeee;
}
    .card-column .date{
        color: #bdbdbd;
        font-size: 11px!important;
        font-family: 'Franlink-regular';
        font-weight: bolder;


    }
    .card-column p{
        color: #9E9E9E;
        font-size: 12px!important;
        font-family:'Franlink-medium';
    }
    .card-column .link{
       font-weight: 600;
        text-decoration: none;
        color: rgb(188, 84, 253);
        font-family:'Franlink-medium';

    }
    .card-column video{
        width: 100%;
    }
    
    .profile-img {
            
            border-radius: 50%;
            
    }

/***********************
PANTALLAS DE MAYOR TAMAÑO
************************/




@media (min-width: 1200px) {
    .col-lg-5 {
        width: 25%;
        float: left;
    }
}
@media (min-width: 1600px) {
    .col-lg-5 {
        width: 20%;
        float: left;
    }
}
@media screen and (max-width: 1920px){
    .postainer1{
    padding-right: 1em!important;
    padding-left: 1em!important;
    margin-right: auto;
    margin-left: auto;
    width: 100%!important;

}


}
@media screen and (max-width: 1366px){
    .postainer1{
    padding-right: 1em!important;
    padding-left: 1em!important;
    margin-right: auto;
    margin-left: auto;
    width: 100%!important;

}

}